:root{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --primary-color: #D4ECDD;
    --secondary-color: #6d6e6e;
    --third-color: #152D35;
    --fourth-color: #112031;
    --optional-color: #3a3b3b;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}