@import url('vars');

body{
    background-color: var(--primary-color);
    background-color: var(--fourth-color);
}
footer{
    color: var(--secondary-color);
}

.label{
    margin-left: .5rem;
}
.contenedor{
    background-color: var(--optional-color);
    background-blend-mode: color-burn;
    color: var(--primary-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 350px;
    height: 300px;
    margin-top: 9rem;
    border-radius: 1rem;
    opacity: .9;
}
.contenedor h1{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.form a{
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.input{
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 4px;
}
.input-name{
    width: auto;
    margin-bottom: 22px;
}
.input-email{
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 22px;
}
.input-pass{
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 22px;
}
.primary-button{
    background-color: var(--fourth-color);
    border-radius: 8px;
    border: none;
    color: var(--primary-color);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}